services:
  mindfactory-db:
    image: postgres:16-alpine
    container_name: mindfactory-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mindfactory-db
    ports:
      - "5432:5432"
    volumes:
      - mindfactory-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  mindfactory-db-data:
